a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

@media screen and (min-width: 992px) {
  body {
    padding-top: 100px;
  }
}

.heading {
  font-size: 25px;
  font-weight: 500;
}

#content {
  background: #FEFEFA;
  margin-right: 15px;
  margin-left: 15px;
}

p {
  font-size: 1.1em;
  font-weight: 350;
  line-height: 1.7em;
  color: #242424;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #0d47a1;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
  }

  #sidebar {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
  .main_nav {
    margin-left: 60px;
  }

  .main_nav ul li:not(:last-child) {
    margin-right: 40px;
  }
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  .header_content {
    height: 80px;
  }

  .main_nav {
    display: none;
  }

  .phone_num {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
  p {
    font-size: 13px;
  }

  .home {
    height: 250px;
  }

  .home_container {
    bottom: 90px;
  }

  .logo {
    width: 70px;
  }

  .header_content {
    height: 60px;
  }

  .menu_close_container {
    top: 28px;
    right: 28px;
  }

  .menu_item a {
    font-size: 18px;
  }

  .menu_phone {
    font-size: 11px;
  }

  .button {
    width: 153px;
    height: 52px;
  }

  .button a {
    font-size: 12px;
    line-height: 52px;
  }

  .home_title {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 75px;
  }
}

@media screen and (max-width: 574px) {
  .wrapper {
    padding-top: 55px;
  }
}

@media screen and (max-width: 770px) {
  #sidebar {
    margin-left: 0 !important;
  }

  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar ul li > a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }
}

.status {
  padding: 30px 0;
  color: #003369;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card-body.content {
  min-height: 200px;
}

.recent-enquiries .enquiry {
  min-width: 80%;
}

.recent-enquiries .fields {
  width: 20%;
}

.recent-enquiries .head-text {
  font-weight: bold;
  font-size: 28px;
  color: #003366;
  padding-bottom: 15px;
}

.enquiry_table td i {
  color: #0d47a1;
  text-align: center;
}

.enquiry_table td p {
  font-size: 18px;
  color: #3d3d3d;
  font-weight: 600;
}

