@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");
@import "~material-dashboard/assets/scss/material-dashboard";
@import "~select2/dist/css/select2.min.css";
@import "~leaflet/dist/leaflet.css";
@import "main.scss";
@import '~flag-icon-css/sass/flag-icon.scss';

.dropdown-item.active {
  background-color: #9c27b0;
  color: #f7f9fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

